* {
    padding:  0;
    margin:  0;
    box-sizing: border-box;
}

// My SASS VARIABLES;

$mainBlack : #222;
$green : green;
$backgroundEffect : #eeee;
$block : block;
$relative : relative;
$absolute : absolute;
$lightWhite : #fff;
$width : 100%;
$flex : flex;